<form id="question" method="post" action="/dashboard">
    <input type="text" name ='context' alt="ask a question..." required>
    <input type="submit" value="ask">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>


{{#each dataArray}}
   {{> questionEntry data=this.questionData answersCount=this.answersCount}}
{{/each}}
