

<section class="forgotPassForm">

    <form class="loginForm" action="/forget" method="POST">
        <input class="textField" type="email" name="email" placeholder="Email...">
        <input class="submitButton" type="submit" value="reset">
    </form>

    {{#if error}}
        <h1 style="color: red;">{{error}}</h1>
    {{/if}}
    {{#if successful}}
        <h1 style="color: green;">email has been sent</h1>
    {{/if}}
</section>