<link rel="stylesheet" href="/styles/home.css">

<div class="wrapper">

    <div class="header">
        <h1>Marios' Digital Clinic</h1>
        <p> The one & only physician on the web<br>
            You ask the questions<br>
            We gladly answer
            <p>


            <a href="/login" class="btn">login</a>
            <a href="/register" class="btn">sign up</a>


    </div>
</div>