{{body}}

<div class="wrapper">
    <div class="nav">
        <div class="logo">
            <img src="res/Dr_Mario_logo.png" alt="mario" length=150px width=150px>
        </div>
    </div>
    <div class="header">
        <h1>Marios' Digital Clinic</h1>
        <p> The one & only physician on the web<br>
            You ask the questions<br>
            We gladly answer
            <p>
                <div class="menu">
                    <ul>
                        <li><a href="/login">login</a></li>
                        <li><a href="/register">sign up</a></li>
                        {{!-- <li> <input type="submit" value="Login"> </li>
                        <li> <input type="submit" value="Sign up"></li> --}}
                    </ul>
                </div>
    </div>
</div>