<section class="main__container--limited-width">
  <h1 class="main__title">LOGIN</h1>

  <form class="login__form" action="/login" method="POST">
    <input class="text-input" type="email" name="email" placeholder="Email">
    <input class="text-input" type="password" name="password" placeholder="Password">
    <input class="submit" type="submit" value="Login">
  </form>   

{{#if error}}


<h1 style="color: red;">{{error}}</h1>




{{/if}}


</section>