
<link href="/styles/login.css" rel="stylesheet">

<div class="loginContainer">
<section >

  <h1 class="title">LOGIN</h1>

  <form class="loginForm" action="/login" method="POST">
    <input class="textField" type="email" name="email" placeholder="Email">
    <input class="textField" type="password" name="password" placeholder="Password">
      <span class="errorMsg">{{error}}</span>

      <input class="submitButton" type="submit" value="Login">
  </form>   

{{#if error}}






{{/if}}


</section>

</div>