<!--    show question-->
    {{> questionEntry data=questionData}}

<!--    show answers-->

    {{#each answers}}
        {{> answerEntry data=this}}
    {{/each}}



<form method="post" action="/question/{{questionData.id}}" class="addAnswerForm">
    <input type="text" class="textField" name ='context' placeholder="submit an answer..." required>
    <input type="submit" class="submitButton" value="send">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>

