<h1>Register</h1>




<a href='/register' id="doctor" onclick="toggler()">Doctor</a>
<a href='/register' id="patient">Patient</a>

<hr>

<form method='post' action='/register' class="registerForm">

    <input type='text' class="textField" name='firstName' placeholder='First Name' required />
    <input type='text' class="textField" name='lastName' placeholder='Last Name' required />
    <input type='email' class="textField" name='email' placeholder='Email' />
    <input type='password' class="textField" name='password' placeholder='Password' required />
    <input type='password' class="textField" name='confirmpassword' placeholder='Confirm Password' required />
    <input type='number' class="textField" name='doctorCertificate' id='doctorCertificate' placeholder='Doctor Certificate' />
    <input id="submit"  class="submitButton" type="submit" value="Submit">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<script src="/scripts/dom/register.dom.js" type="javascript"></script>
{{#if error}}
<h1 class="regErr">{{error}}</h1>
{{/if}}

