<script src="scripts/dom/register.dom.js" type="application/javascript" defer></script>
<link href="/styles/register.css" rel="stylesheet">





<div class="registerContainer">
    <section>

        <h1 class="title">REGISTER</h1>



    <form method='post' action='/register' id="regForm" class="registerForm">

        <span class="subTitle">Choose account type</span>

        <div class="doctorpatientfield">
            <div class="userType" >
                <img id="doctorimg" class="selectedImg" alt="doctor image" src="/res/icon-doctor.png">
                <span >Doctor</span>
            </div>
            <div class="userType">
                <img id="paitentimg" alt="patient image" src="/res/icon-patient.png">
                <span >Paitent</span>
            </div>

        </div>


        <label for="firstName" class="subTitle">First Name</label>
        <input type='text' id="firstName" class="textField" name='firstName' placeholder='First Name' required />

        <label for="lastName" class="subTitle">Last Name</label>
        <input type='text' class="textField" name='lastName' placeholder='Last Name' required />

        <label for="email" class="subTitle">Email</label>
        <input type='email' class="textField" name='email' placeholder='Email' />

        <label for="password" class="subTitle">Password</label>
        <input type='password' class="textField password" name='password' placeholder='Password' required />

        <label for="confirmPassword" class="subTitle">Confirm Password</label>
        <input type='password' class="textField confirmPassword" name='confirmpassword' placeholder='Confirm Password'
            required />

        <div id = "doctorCerContainer">
            <label for="doctorCertificate" class="subTitle">Doctor Certificate</label>
            <input type='number' class="textField" name='doctorCertificate' id='doctorCertificate'
                   placeholder='Doctor Certificate' />
        </div>

        {{#if error}}
            <span class="errorMsg" id="regErr">{{error}}</span>
        {{/if}}

        <input id="submit" class="submitButton" type="submit" value="Submit">

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>

    <h1 class="regErr1" id="regErr1"></h1>

    </section>

</div>



