

<section class="resetPasswordForm">

    <form class="loginForm" action="/reset" method="POST">
        <input class="textField" type="password" name="password" placeholder="password...">
        <input class="textField" type="password" name="confirmPassword" placeholder="password...">
        <input  type="hidden" name="sessionID" value="{{sessionID}}">
        <input class="submitButton" type="submit" value="change">
    </form>

    {{#if error}}
        <h1 style="color: red;">{{error}}</h1>
    {{/if}}
    {{#if successful}}
        <h1 style="color: green;">reset password successful!</h1>
    {{/if}}
</section>