
<main >
    <div >
        <img src="">
        <div>
            <span id="askerName">{{data.first_name}} {{data.last_name}}</span>
            <span id="askedQuestion">{{data.context}}</span>
        </div>
    </div>
    <div >

        <span id="">{{getPostTime data.post_time_milliseconds }} </span>
    </div>
</main>
