
<div class="headerbar ">
    <img src="res/Dr_Mario_logo.png" alt="mario" class="logo">

        {{#if user}}
            <li><a class ="" href="/logout">logout</a></li>
        {{else}}
            <a class = "btn {{#if (equals "login" selectedItem)}}selected {{/if}}" href="/login" >login</a>
           <a class = "btn {{#if (equals "register" selectedItem)}} selected {{/if}}" href="/register" >sign up</a>
        {{/if}}
    </div>

