
<div class="headerbar ">

    <a href="/dashboard">

        <img src="/res/Dr_Mario_logo.png" alt="mario" class="logo">
    </a>

    {{#unless user}}
    <a class = "btn {{#if (equals "login" selectedItem)}}selected {{/if}}" href="/login" >login</a>
    <a class = "btn {{#if (equals "register" selectedItem)}} selected {{/if}}" href="/register" >sign up</a>
    {{/unless}}

    {{#if user}}
        <a class ="btn logout_btn" href="/logout">logout</a>

    {{/if}}

</div>
