    <ul class="headerbar">
        {{#if user}}
            <li><a class ="" href="/logout">logout</a></li>
        {{else}}
            <li><a class = "{{#if (equals "login" selectedItem)}}selected {{/if}}" href="/login">login</a></li>
            <li><a class = "{{#if (equals "register" selectedItem)}} selected {{/if}}" href="/register">sign up</a></li>
        {{/if}}
    </ul>

