.dashboardContainer {
    border: 2px black;
    border-radius: 10px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboardContainer__title {
    color: tomato;
}


.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.addQuestionForm {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 300px;
}

.textField {
    display: flex;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.submitButton {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3498DB;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.submitButton:hover {
    background-color: #3498DB
}

.submitButton:active {
    background-color: #3498DB;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.buttonContainer {

    display: flex;
    flex-direction: column;
}
.close-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: tomato;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.close-button:hover {
    background-color: tomato
}

.close-button:active {
    background-color: tomato;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.open-button {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: greenyellow;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.open-button:hover {
    background-color: greenyellow
}

.open-button:active {
    background-color: greenyellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.entryContainer {
    display: flex;
    align-items: center;
    border-radius: 20px ; 
    background-color: #f2f2f2;
    height: 80px;
    width: 400px;
}

.entryNameQuestion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.questionField {
    display: flex;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    
}

.answerField {

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 20px;
    padding-left: 20px;

}