:root{
    --border-radius:20px;
}

body{
    color:darkred;
}

.textField{
    border-radius: var(--border-radius);
    border: 1px black solid;

}

.submitButton{
    border-radius: var(--border-radius);
    border: 1px black solid;
}

