body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/res/background.jpg");
  background-position: center;
  font-family: Montserrat;
  padding-top: 80px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  background-color: #020100;
  z-index: 10;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.5);*/
}

.logo {
  width: 150px;
  height: 70px;
  justify-self: left;
}






.selected {

    color: red;
    border-bottom: 5px solid yellow;

}

.headerbar {
    
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  z-index:5;


}

.headerbar a , .headerbar a:visited , .headerbar a:active , .headerbar a:hover , .headerbar a:focus {

    text-decoration: none;
    color:inherit;
    outline: 0;
  width: 100px;
  text-align: center;

}


.smallicon {
    height: 40px;
    width: 40px;
}


.btn {
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 4px;
  margin: 5px;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
   background-color: #55acee;
   color: white;
   cursor: pointer;


 }

.btn:hover {
  background-color: #3b5998;
}


.subTitle {
  color: tomato;
}
.title{
  color: #020100;
}

.errorMsg{
  color:red;
  font-weight: bolder;
  font-size: large;
  word-break: break-word;
}

.hidden{
  
  display: none !important;

}
