<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="/styles/main.css" rel="stylesheet">
</head>
<body>

<<<<<<< HEAD
=======


>>>>>>> cbfa6abeb60ad40fc1be0e708fe47060f2172fb9

{{{body}}}
</body>
</html>